In [22]:
#functions
def add():
    a=5
    b=7
    print(a+b)
add()

12

In [23]:
def add(x,y):
    print(19.5,2)

In [12]:
add(19.5,2)

21.5

In [19]:
#simple interest code
def simple_interest(p, r, t):
    si = (p * r * t) / 100
    print("Simple Interest:", si)
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))
simple_interest(p, r, t)

Enter principal:  67
Enter rate:  56
Enter time:  2

Simple Interest: 75.04

In [18]:
#find sum of first fifteen natural number
def sum_first_15_natural_numbers():
    total=0
    for i in range(1, 16):
        total+=i
    return total
result = sum_first_15_natural_numbers()
print("Sum of first 15 natural numbersÂ is:",result)

Sum of first 15 natural numbersÂ is: 120

In [29]:
#print table of 2 using funcitons
def table():
    for i in range(1,11):
        print(2, "x", i, "=", 2 * i)
table()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [30]:
#create a function to finf the sun of all natural numbers.

In [31]:
#find the sum of odd numbers
def sum_odd(a, b):
    total = 0
    for i in range(a, b):
        if i % 2 != 0:
            total += i
    print("Sum of odd numbers:", total)
sum_odd(1, 51)

Sum of odd numbers: 625

In [32]:
#default parameter
def sub(a,b=5):
    print(a-b)
sub(10)

5

In [35]:
sub(6,3)

3

In [37]:
#keyword argument
def show(a,b):
    print(a,b)
show(a=10,b=20)

10 20

In [40]:
#return function (print using print())
def add(a,b):
    c=a+b
    print(c)
add(10,20)

30

In [43]:
#return function( print using return())
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [44]:
#using lambda function
add=lambda a,b:a+b
add(12.9,3)

15.9

In [45]:
#try exception handling

In [47]:
def reverse(s):
    rev = ""
    for i in s:
        rev = i + rev
    print(rev)
reverse("hello")

olleh

In [51]:
def square(num):
    return num * num
n = int(input("Enter a number: "))
result = square(n)
print("Square is:", result)

Enter a number:  6

Square is: 36

In [49]:
def add(a, b):
    return a + b
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = add(num1, num2)
print("Sum is:", result)

Enter first number:  5
Enter second number:  10

Sum is: 15

In [50]:
def even(num):
    return num % 2 == 0
n = int(input("Enter a number: "))
if even(n):
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number:  6

The number is even.

In [52]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
num = int(input("Enter a number: "))
print("Factorial is:", factorial(num))

Enter a number:  5

Factorial is: 120

In [56]:
def find_largest(lst):
    largest = lst[0]
    for i in lst:
        if i > largest:
            largest = i
    return largest
    
n = int(input("How many numbers? "))
numbers = [0] * n
for i in range(n):
    numbers[i] = int(input(f"Enter number {i+1}: "))
print("Largest element is:", find_largest(numbers))

How many numbers?  4
Enter number 1:  5
Enter number 2:  8
Enter number 3:  9
Enter number 4:  2

Largest element is: 9

In [57]:
def reverse(s):
    return s[::-1]
text = input("Enter a string: ")
print("Reversed string is:", reverse(text))

Enter a string:  htdjgg

Reversed string is: ggjdth

In [58]:
def fibonacci(n):
    a, b = 0, 1
    print("Fibonacci series:")
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
num = int(input("Enter how many terms: "))
fibonacci(num)

Enter how many terms:  7

Fibonacci series:
0 1 1 2 3 5 8

In [60]:
def vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    print("Number of vowels:", count)
user_input = input("Enter a string: ")
vowels(user_input)

Enter a string:  helloo

Number of vowels: 3

In [61]:
def palindrome(s):
    if s == s[::-1]:
        print("It's a palindrome!")
    else:
        print("Not a palindrome.")
text = input("Enter a string: ")
palindrome(text)

Enter a string:  hello

Not a palindrome.

In [62]:
def total_sum(*args):
    result = 0
    for num in args:
        result += num
    return result
print("Sum is:", total_sum(5, 10, 15))

Sum is: 30